%script
  app.quit_game();

.row.toprow.header
  .large-12.columns
    #homeicon= link_to(image_tag('home_icon.png'), root_path)
    - if !@auth.nil?
      #username= link_to(@auth.username + ' | logout', '/login', :method => 'post', :class => 'logout')
  .large-4.columns.large-centered
    = link_to('New Game', new_game_form_path, :class => 'button newgamebutton', :remote => true)
  .large-12.columns
    #gameresults
      = render 'records'


  .row
    .large-12.columns
      #form
