.row.toprow.header
  .large-12.columns
    #pause
      = link_to('Pause', '#', :class => 'button gamebuttons hide', :remote => true)
    #start= link_to("Shuffle and Start!", '/start', :class => 'button gamebuttons', :remote => true)
    #time
  .large-4.columns
    #tiles
      = render 'games/tiles_blank'
  .large-4.columns
    #word_list
      = render 'games/answers'



