@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Aldrich); /*clock font*/
@import url(http://fonts.googleapis.com/css?family=Sintony);

*
{
  font-family: 'Roboto Condensed', sans-serif;
  color: #BDB9BA;
}

a
{
  text-decoration: none;
}

#topspacer
{
  min-height: 10%;
  height: 50px;
  margin: 1px;
  width: 100%;
}

.homebuttons
{
  background-color: #90FEC0;
  display: inline-block;
  width: 100px;
  float: left;
  box-shadow: 3px 3px 3px #777;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3em;
  border-radius: 5px;
  color: #00141C;
}

.homebuttons:hover
{
  background-color: #80C465;
  display: inline-block;
  width: 100px;
  float: left;
  box-shadow: 3px 3px 3px #999;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3em;
  border-radius: 5px;
  color: #00141C;
  font-weight: bold;
}

.homebuttons a
{
  width: 100px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: #00141C;
}

.invitebuttons
{
  background-color: #665EA1;
  width: 90px;
  height: 30px;
  line-height: 10px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  border-radius: 10px;
  color: black;
}

.invitebuttons:hover
{
  background-color: #544FA1;
  font-weight: bold;
  box-shadow: 2px 2px 1px #999;
  color: black;
}

.startgamebutton
{
  background-color: #40E365;
  width: 90px;
  height: 30px;
  line-height: 10px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  border-radius: 10px;
  color: black;
}

.startgamebutton:hover
{
  background-color: #40E355;
  font-weight: bold;
  box-shadow: 2px 2px 1px #999;
  color: black;
}

.stopbutton
{
  background-color: #FF4B57;
  width: 90px;
  height: 30px;
  line-height: 10px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  border-radius: 10px;
  color: black;
  margin-left: 15px;
}

.stopbutton:hover
{
  background-color: #AD5111;
  color: black;
  box-shadow: 2px 2px 1px #999;
}

.gamebuttons
{
  background-color: #40E365;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  border-radius: 10px;
  color: black;
}

.gamebuttons:hover
{
  background-color: #40E355;
  box-shadow: 2px 2px 1px #999;
  color: black;
}

.newgamebutton
{
  background-color: #FF644F;
  color: white;
  width: 230px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 3px 2px 1px #777;
  border: none;
  border-radius: 10px;
}

.newgamebutton:hover
{
  background-color: #FF194B;
  font-weight: bold;
  box-shadow: 3px 2px 1px #999;
}

.header
{
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 20%;
  background-color: #211E01;
  padding: 10px;
  width: 90%;
}

.toprowmain
{
  background-color: #211E01;
  padding: 50px;
  box-shadow: 4px 4px 1px #999;
  margin-bottom: 0;
}

.toprow
{
  background-color: #211E01;
  padding: 10px;
  box-shadow: 10px 10px 10px #999;
}

.bottomrow
{
  background-color: #211E01;
  padding: 50px;
  box-shadow: 10px 10px 10px #999;
  margin-top: 3em;
}

.gamepanel
{
  background-color: #211E01;
  padding: 30px;
  box-shadow: 4px 4px 1px #999;
  margin-top: 0;
}

.gamenav
{
  background-color: #211E01;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 30px;
  box-shadow: 4px 4px 1px #999;

}

.tile{
  display:block;
  float:left;
  width:54px;
  height:54px;
  line-height:54px;
  border: 1px #d6bc83 solid;
  margin:3px;
  text-indent:18px;
  border-radius: 15px;
  color:#000;
  text-shadow: -1px -1px 1px rgb(40,40,40);
  font-family: "NewsGoth Cn BT", Optima-Thin, "MS Gothic";
  font-size:40px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.5, rgb(222,204,202)),
    color-stop(0.7, rgb(230,210,230))
  );
  background-image: -moz-linear-gradient(
    right bottom,
    rgb(222,196,139) 50%,
    rgb(230,204,147) 70%
  );
  -moz-box-shadow:  0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  -webkit-box-shadow: 0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  box-shadow: 0 1px 0 #757573, 1px 2px 0 #757573, 2px 3px 1px #757573;
}

.selected_letter{
  display:block;
  float:left;
  width:54px;
  height:54px;
  line-height:54px;
  border: none;
  margin:3px;
  text-indent:18px;
  border-radius: 15px;
  color:#000;
  text-shadow: -1px -1px 1px rgb(40,40,40);
  font-family: "NewsGoth Cn BT", Optima-Thin, "MS Gothic";
  font-size:40px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.5, rgb(144,254,192)),
    color-stop(0.7, rgb(130,210,170))
  );
  background-image: -moz-linear-gradient(
    right bottom,
    rgb(222,196,139) 50%,
    rgb(230,204,147) 70%
  );
  -moz-box-shadow:  0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  -webkit-box-shadow: 0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  box-shadow: 0 1px 0 #4A4849, 1px 2px 0 #4A4849, 2px 3px 1px #4A4849;
}


.tileheader
{
  margin: 50px auto 50px auto;
}

#formin
{
  background-color: #212830;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px #444;
  border: 1px solid #38414D;

}

#formin label
{
  color: #C8D9B0;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;

}

input.formback
{
  background-color: #C7E2F7;
  width: 80%;
  border-radius: 5px;
}

input.formback2
{
  background-color: #C7E2F7;
  width: 100%;
  border-radius: 5px;

}

.cancel
{
  background-color: #AD2B98;
  width: 100px;
  height: 35px;
  margin-top: 0;
  margin-right: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.cancel:hover
{
  background-color: #731DA1;
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 1px #999;

}

.loginbutton
{
  background-color: #90FEC0;
  width: 100px;
  height: 35px;
  margin-top: 0;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #444;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.loginbutton:hover
{
  background-color: #80C465;
  box-shadow: 2px 2px 1px #999;
  color: black;
  font-weight: bold;
}

.logout
{
  margin-top: 10px;
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  text-decoration: none;
  color: #C8D9B0;
}

.logout:hover
{
  color: #C8D999;
}

.username
{
  margin-top: 0;
  margin-right: 20px;
  display: inline-block;
  float: left;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  text-decoration: none;
  color: #C8D9B0;
}

#cube
{
  border-radius: 15px;
  border: none;
  background-color: #211E01;

}

#cubeblank
{
  border-radius: 15px;
  border: none;
  background-color: #211E01;
}

#start
{
  float: right;
  display: inline-block;
  color: black;

}

#pause
{
  float: right;
  display: inline-block;
}

.hide
{
  display: none;
}

#copyright
{
  display: inline-block;
  float: left;
  margin-top: 0;
}

.recordtable
{
  color: black;
  border: none;
  margin-right: 5%;
  margin-left: 5%;
}

.recordtable td
{
  width: 5em;
  text-align: left;
  min-height: 2em;
  color: #C8D9B0;
  border-bottom: 1px solid #C8D9B0;
}

.recordtable th
{
  width: 10em;
  text-align: left;
  font-weight: bolder;
  font-size: 1.1em;
  color: #04BF9D;
}

#gameheader
{
  color: #7FB5AD;
  font-size: 2em;
  margin-top: 0.7em;
  text-align: center;
  display: inline-block;
  width: auto;
  text-indent: 20%;
}

#time
{
  color: #F5FCD0;
  font-family: 'Aldrich', sans-serif;
  font-size: 2em;
  display: inline-block;
  width: 4em;
  margin-left: 2em;
  float: right;
  margin-top: 0.7em;
}

#score
{
  color: #F5FCD0;
  font-family: 'Aldrich', sans-serif;
  font-size: 2em;
  display: block;
  width: 100%;
  float: left;
  text-align: right;
}

.word_enter_text
{
  float: left;
  display: inline-block;
  color: #F5FCD0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.good
{
  font-size: 1em;
  color: green;
  display: inline-block;
  float: left;
  line-height: 1.4em;
}

.bad
{
  font-size: 1em;
  color: red;
  display: inline-block;
  float: left;
  line-height: 1.4em;

}

.taken
{
  font-size: 1em;
  text-decoration: line-through;
  display: inline-block;
  float: left;
  line-height: 1.4em;

}

#maxheight
{
  max-height: 500px;
  width: 100%;
  float: left;
}

.gameover
{
  font-size: 3em;
  text-align: center;
  display: inline-block;
  width: 300px;
}

#backtoresults
{
  float: left;
  text-align: left;
  display: inline-block;
}

#username2
{
  float: left;
}

.rules
{
  color: white;
  font-size: 17px;
  font-family: 'Sintony', sans-serif;
  line-height: 22px;
}

.rulelink
{
  display: inline-block;
  float: left;
  color: #FF9175;
  font-size: 12px;
}

.rulelink:hover
{
  color: #EB6560;
}

.mysubhead
{
  text-align: center;
  display: block;
  width: 100%;
}

ul
{
    -moz-column-count: 4;
    -moz-column-gap: 10%;
    -webkit-column-count: 4;
    -webkit-column-gap: 10%;
    column-count: 4;
    column-gap: 10%;
    height: auto;
}

ul li
{
  list-style: none;
}

.allwords
{
  float: left;
  width: 100%;
  line-height: 20px;
}

#gameresults table
{
  background-color: #211E01;
}

.imgdelete img
{
  width: 1em;
  opacity: 0.6;
}

.imgdelete img:hover
{
  opacity: 1;
}

#smallcell td
{
  min-width: 1em;
  text-align: left;
  min-height: 2em;
  color: #C8D9B0;
  border-bottom: 1px solid #C8D9B0;
}

#homeicon img
{
  width: 2.3em;
  opacity: 0.9;
  margin-top: 10px;
  display: inline-block;
  float: left;
}

#homeicon img:hover
{
  width: 2.3em;
  opacity: 1;
  margin-top: 10px;
  display: inline-block;
  float: left;
}

.enterword
{
  background-color: #40E365;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  box-shadow: 3px 2px 1px #777;
  border: none;
  border-radius: 10px;
  color: black;
}

a.button.enterword
{
  width: 100px;
}

.enterword:hover
{
  background-color: #40E444;
  font-weight: bold;
  color: black;
}

.cancelword
{
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  color: red;

}

.cancelword:hover
{
  font-weight: bold;
}

a.button.enterword
{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}

.inline-list
{
  width: 50%;
}
