@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Aldrich); /*clock font*/

*
{
  font-family: 'Roboto Condensed', sans-serif;
  color: #BDB9BA;
}

a
{
  text-decoration: none;
}

#topspacer
{
  min-height: 10%;
  height: 50px;
  margin: 1px;
  width: 100%;
}

.homebuttons
{
  background-color: #90FEC0;
  display: inline-block;
  width: 100px;
  float: left;
  box-shadow: 1px 1px 1px #DEDEDE;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: #00141C;
}

.homebuttons a
{
  width: 100px;
  height: 50px;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: #00141C;
}

.invitebuttons
{
  background-color: #F53D54;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #999;
  border: none;
  border-radius: 10px;
}

.homebuttons.adj
{
  background-color: #40E365;
  width: auto;
  height: 50px;
  margin-top: 0;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  box-shadow: 4px 4px 1px #999;
  border: none;
}

.gamebuttons
{
  background-color: #40E365;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #999;
  border: none;
  border-radius: 10px;
}

.header
{
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 20%;
  background-color: #211E01;
  padding: 10px;
  width: 90%;
}

.toprowmain
{
  background-color: #211E01;
  padding: 50px;
  box-shadow: 4px 4px 1px #999;
  margin-bottom: 0;
}

.toprow
{
  background-color: #211E01;
  padding: 10px;
  box-shadow: 4px 4px 1px #999;
}

.bottomrow
{
  background-color: #211E01;
  padding: 50px;
  box-shadow: 4px 4px 1px #999;
  margin-top: 0;
}

.gamepanel
{
  background-color: #211E01;
  padding: 30px;
  box-shadow: 4px 4px 1px #999;
  margin-top: 0;
}

.gamenav
{
  background-color: #211E01;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 30px;
  box-shadow: 4px 4px 1px #999;

}

.tile{
  display:block;
  float:left;
  width:54px;
  height:54px;
  line-height:54px;
  border: 1px #d6bc83 solid;
  margin:3px;
  text-indent:18px;
  border-radius: 15px;
  color:#000;
  text-shadow: -1px -1px 1px rgb(40,40,40);
  font-family: "NewsGoth Cn BT", Optima-Thin, "MS Gothic";
  font-size:40px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.5, rgb(222,204,202)),
    color-stop(0.7, rgb(230,210,230))
  );
  background-image: -moz-linear-gradient(
    right bottom,
    rgb(222,196,139) 50%,
    rgb(230,204,147) 70%
  );
  -moz-box-shadow:  0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  -webkit-box-shadow: 0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
  box-shadow: 0 1px 0 #757573, 1px 2px 0 #757573, 2px 3px 1px #757573;
}


.tileheader
{
  margin: 50px auto 50px auto;
}

#formin
{
  background-color: #598BF7;
  padding: 15px;
  font-size: 20px;
}

input.formback
{
  background-color: #C7E2F7;
  width: 80%;
}

input.formback2
{
  background-color: #C7E2F7;
  width: 100%;
}

.cancel
{
  background-color: #FF6813;
  width: 100px;
  height: 35px;
  margin-top: 0;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #999;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

.submit
{
  background-color: #40E365;
  width: 100px;
  height: 35px;
  margin-top: 0;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  box-shadow: 2px 2px 1px #999;
  border: none;
  text-decoration: none;
  border-radius: 5px;

}

.logout
{
  margin-top: 10px;
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

#cube
{
  border-radius: 15px;
  border: none;
  background-color: #211E01;

}

#cubeblank
{
  border-radius: 15px;
  border: none;
  background-color: #211E01;
}

#start
{
  float: right;
  display: inline-block;
}

#pause
{
  float: right;
  display: inline-block;
}

.hide
{
  display: none;
}

#copyright
{
  display: inline-block;
  float: left;
  margin-top: 0;
}

.recordtable
{
  color: black;
  border: none;
  margin-right: 5%;
  margin-left: 5%;
}

.recordtable td
{
  min-width: 15em;
  text-align: left;
  min-height: 2em;
}

.recordtable th
{
  min-width: 10em;
  text-align: left;
  font-weight: bolder;
  font-size: 1.1em;
  color: #04BF9D;
}

#gameheader
{
  color: #00A19A;
  font-size: 2em;
  margin-top: 0.7em;
  text-align: center;
  display: inline-block;
  width: auto;
  text-indent: 20%;
}

#time
{
  color: #F5FCD0;
  font-family: 'Aldrich', sans-serif;
  font-size: 2em;
  display: inline-block;
  width: 4em;
  margin-left: 2em;
}

#score
{
  color: #F5FCD0;
  font-family: 'Aldrich', sans-serif;
  font-size: 2em;
  display: block;
  width: 5em;
  float: right;
  text-align: right;
}

.word_enter_text
{
  float: left;
  display: inline-block;
  color: #F5FCD0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.good
{
  font-size: 1em;
  color: green;
  display: inline-block;
  float: left;
  line-height: 1.4em;
}

.bad
{
  font-size: 1em;
  color: red;
  display: inline-block;
  float: left;
  line-height: 1.4em;

}

.taken
{
  font-size: 1em;
  text-decoration: line-through;
  display: inline-block;
  float: left;
  line-height: 1.4em;

}

#maxheight
{
  max-height: 500px;
  max-width: 100%;
}

.gameover
{
  font-size: 3em;
  text-align: center;
  display: inline-block;
  width: 300px;
}

#backtoresults
{
  float: left;
  text-align: left;
  display: inline-block;
}

#username2
{
  float: left;
}

.rules
{
  color: white
}

.rulelink
{
  display: inline-block;
  float: left;
}

.mysubhead
{
  text-align: center;
  display: block;
  width: 100%;
}

ul
{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    height: auto;
}

ul li
{
  list-style: none;
}

.allwords
{
  float: left;
  display: block;
  width: 100%;
  line-height: 20px;
}
